html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 1em;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

#desktop {
	font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #CCC;
    background-image: url('temp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.window {
    position: absolute;
    border: 2px solid #000;
    background: #EEE;
	border-radius: 5px;
	z-index: 1000;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 32px !important;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}
.windowHeader {
    background-color: #b7b7e0;
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    cursor: move;
    height: 28px;
}
.activeWindow .windowHeader {
    background-color: #8888d6;
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 5px;
    line-height: 20px;
    width: 12px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}
.windowHeader > span.winclose:hover {
	background: #f15454;
}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}
.winminimize > span {
	border-bottom: 3px solid #000;
}
.winmaximize > span {
	border: 2px solid #000;
	border-top: 3px solid #000;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}
.wincontent {
    padding: 10px;
    min-width: 200px;
    min-height: 140px;
    border: 2px solid #000;
    margin: 2px;
	border-radius: 0 0 5px 5px;
}
.windowHeader > strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
}
.taskbarPanel {
    display: inline-block;
    margin: 2px 0 0 10px;
    height: 70px;
    width: 70px;
    font-weight: bold;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.taskbarPanel.activeTab::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
	background: white;
    margin-top: 80px;
}

.taskbarPanel:hover::after{
    content: attr(title);
    position: absolute;
    background-color: rgba(37, 37, 37, 0.87);
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 5px;
    line-height: 10px;
    margin-bottom: 170px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadein 0.2s forwards;
    animation-delay: 0.5s;
  }

  @keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }


.taskbarPanel.minimizedTab {
	background: #AAA;	
}
.taskbarPanel.minimizedTab:hover {
	background: #DDD;
}
.taskbarPanel.closed {
	display: none;
}
.bar{
    width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#taskbar {
	height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
}
.taskbarico{
    width: 100%;
}
#icons {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
}
#icons a {
    display: block;
    cursor: pointer;
    padding: 2px 10px;
}
#icons a:hover {
	background: #000;
	color: #FFF;
}
#templateLink {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #30478c;
}

/*Demo styles BEGIN*/
#window0 {	top: 20px;	left: 40px;}
#window0 .wincontent {	width: 260px; height: 100px;	}
