html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 1em;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFProDisplay-Regular.ttf') format('woff2'),
        url('font/SFProDisplay-Regular.woff') format('woff'),
        url('font/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.thebar{
    width: 100%;
    height: 25px;
    position: absolute;
	background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px -1px black;
    z-index: 99999;
    color: white;
    font-size: 14px;
}


.apple{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    float: left;
    cursor: pointer;
}

.apple:hover{
    background-color: rgb(45, 107, 223);
}

h3{
    margin: 0 auto;
    font-weight: bold;
}

.baropts{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    float: left;
    line-height: 0px;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
}

.baropts:hover{
    background-color: rgb(45, 107, 223);
}


/* do this for each dropdown blitzy */
#barslot0:hover + #finder{
    visibility: visible;
}
#finder:hover{
    visibility: visible;
}
#finder{
    margin-left: 50px;
    visibility: hidden;
}


/* do this for each dropdown blitzy */
#barslot-1:hover + #appledropdown{
    visibility: visible;
}
#appledropdown:hover{
    visibility: visible;
}
#appledropdown{
    margin-left: 5px;
    visibility: hidden;
}



.dropdown{
    position: absolute;
	background: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    border-radius: 3px;
    padding: 12px;
    width: 150px;
    padding-bottom: 14px;
    color: white;
}


li {
    border-radius: 3px;
    list-style-type: none;
    width: 147px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    margin: -10px;
    margin-top: -8px;
    cursor: pointer;
}

li:hover {
    background-color: rgb(45, 107, 223);
}

.logo{
    width: 13px;
    margin: 5px;
}

button{
    background-color: #706F72;
    color: white;
    width: 110px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 5px -2px black;
    cursor: pointer;
}

h1{
    font-weight: normal;
    font-style: normal;
}


#desktop {
    font-family: 'SF Pro Display';
    position: fixed;
    height: 100%;
    width: 100%;
    background: #CCC;
    background-image: url('temp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.window {
    position: absolute;
    box-shadow: 0px 0px 15px -1px black;
    border: 1px solid #545351;
    background: #3E3D40;
    color: white;
	border-radius: 7px;
	z-index: 1000;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 25px !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 0 !important;
}
.window.fullSizeWindow .windowHeader {
    opacity: 0;
    cursor: auto;
}
.window.fullSizeWindow .windowHeader:hover {
    opacity: 1;
}
.window.fullSizeWindow .windowHeader:hover + strong {
    opacity: 1;
}
.window.fullSizeWindow .windowHeader + strong {
    opacity: 0;
}

.fullSizeWindow .ui-resizable-handle {
	display: none;
}
.windowHeader {
    background-image: linear-gradient(to bottom, #333231 , #292827);
    border-bottom: 1px solid #000;
	border-radius: 5px 5px 0px 0px;
    padding: 3px;
    cursor: move;
    height: 28px;
}
.activeWindow .windowHeader {
    background-image: linear-gradient(to bottom, #41403E , #363533);
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    margin-left: 4px;
    padding: 1px;
    font-size: 7px;
    margin-top: 4px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 100%;
    line-height: 10px;
    padding-left: 3px;
    width: 8px;
    height: 10px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.windowHeader:hover > span{
    color: black;
}

.windowHeader > span.winclose:hover {
	background: red;
}
.windowHeader > span.winminimize:hover {
	background: yellow;
}
.windowHeader > span.winmaximize:hover {
	background: rgb(0, 218, 0);
}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}

.winminimize{
    background-color: #E7C351;
    color: #E7C351;
}
.winmaximize{
    background-color: #74BD47;
    color: #74BD47;
}
.winclose{
    background-color: #EF665E;
    color: #EF665E;
}


.winminimize > span {
	border-bottom: 3px solid #000;
}

.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}
.wincontent {
    padding: 10px;
    min-width: 200px;
    min-height: 140px;
    margin: 2px;
	border-radius: 0 0 5px 5px;
}
.windowHeader + strong {
    width: 100%;
    position: absolute;
    margin-top: -33px;
    text-align: center;
    line-height: 29px;
    font-size: 17px;
    cursor: move;
    pointer-events: none;
    color: white;
    font-weight: normal;
}
.taskbarPanel {
    display: inline-block;
    margin: 7px 0px 0px 10px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    font-weight: bold;
	cursor: pointer;
    text-align: center;
}




.bin{
    margin: 7px 0px 0px 10px;
    height: 60px;
    width: 60px;
    font-weight: bold;
	cursor: pointer;
    text-align: center;
    float: right;
}

.hr{
    height: 80px;
    margin: 0px 10px 0px 30px;
    width: 1px;
    background-color: gray;
    float: right;
}

.taskbarPanel::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
	background: rgba(255, 255, 255, 0.705);
    margin-top: 70px;
    margin-left: 25px;
}

.taskbarPanel:hover::after{
    content: attr(title);
    position: absolute;
    background-color: rgba(37, 37, 37, 0.87);
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    height: 25px;
    padding: 5px;
    line-height: 10px;
    margin-top: -120px;
    width: 100px;
    margin-left: -20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-weight: normal;
    font-style: normal;
    animation: fadein 0s forwards;
    /*animation-delay: 0.05s;*/
  }

  @keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

  .bouncy{
    animation: bouncy 1s forwards ease-in-out;
  }
  
  @keyframes bouncy {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
    from{
        transform: translateY(0);
    }
  }

/*.taskbarPanel.minimizedTab {
	background: #AAA;	
}
.taskbarPanel.minimizedTab:hover {
	background: #DDD;
}*/
.taskbarPanel.closed {
	display: none;
}
.bar{
    width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#taskbar {
	height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    z-index: 9999999;
}

.taskbarico{
    width: 100%;
    height: 60px;
    object-fit: contain;
    pointer-events: none;
}


#icons {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
}
#icons a {
    display: block;
    cursor: pointer;
    padding: 2px 10px;
}
#icons a:hover {
	background: #000;
	color: #FFF;
}
#templateLink {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #30478c;
}

.warnico{
    width: 95px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

h4{
    font-weight: 600;
    color: rgb(223, 223, 223);
}

.warntext{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.warndesc{
    color: rgb(197, 197, 197);
    font-size: 15px;
}

.warnbuttons{
    margin-right: 10px;
    width: 365px;
    float: right;
}

.warnbuttonsingle{
    margin-left: 10px;
    float: right;
}

.warnbuttonsingleleft{
    float: left;
}

.moveout{
    animation: moveout 1s forwards;
}

@keyframes moveout {
    to{
        transform: translateY(100vh) scale(0.1) scaleX(0.2);
        transform-origin: 40px 0px;
        overflow: hidden;
    }
}



.fullscreen{
    animation: fullscreen 1s forwards;
}

@keyframes fullscreen {
    to{

    }
}

.fullscreenslideout{
    animation: fullscreenslideout 1s forwards;
}

@keyframes fullscreenslideout {
    to{

    }
}
/*Demo styles BEGIN*/
#window0 {	top: 20px;	left: 200px;}
#window1 {	top: 60px;	left: 240px;}
#window2 {	top: 460px;	left: 210px;}
#window3 {	top: 160px;	left: 110px;}


    /* YOU ONLY NEED TO INCLUDE MIN WITH APPLICATIONS THAT ALLOW SCALE AND FULL SCREEN */
#window0 .wincontent {	width: 500px; height: 100px; }
#window1 .wincontent {	width: 460px; height: 300px;  min-width: 460px; min-height: 300px;	}
#window2 .wincontent {	width: 150px; height: 100px;  min-width: 150px; min-height: 100px;}
#window3 .wincontent {	width: 500px; height: 300px; }
